.cell {
  width: 45%;
  padding: 0.5rem;
  height: 2.5rem;
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;
  border-width: 0.25px;
  border-color: rgb(198 206 217 / 1);
}

.cell:hover {
  background-color: rgb(248 250 252);
}

.cell::after {
  content: attr(data-name-content);
  position: absolute;
  top: -25px;
  right: -2px;
  width: auto;
  height: 24px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  background-color: var(--info-bg-color);
  color: white;
}

.cellSelf {
  border: 2px solid var(--member-color);
}

.cellMembers {
  border: 2px solid var(--cell-member-color);
}

.rest {
  background-color: white;
}

.rest:hover {
  border-color: rgb(173, 182, 194);
}
