.container {
  position: relative;
  display: flex;
}

.avatarContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-color: rgb(234 88 12);
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #e2e7ef;
}

.name {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255 255 255);
}

.statusIndicator,
.statusIndicatorOnline {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  border: 1.5px solid #e2e7ef;
  position: absolute;
  bottom: 0.3rem;
  left: -0.2rem;
  transform: translateY(50%) translateX(50%);
}

.popup {
  position: absolute;
  top: 4rem;
  padding: 1rem;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  min-width: 240px;
}

.nameOthers {
  z-index: 20;
  font-size: 0.75rem;
}

.statusIndicatorOnline {
  background-color: #10b981;
}

.textWhite {
  color: #fff;
}

.inactiveColor {
  color: rgb(156 163 175);
}

.inactiveBackground {
  background-color: rgb(156 163 175);
}
