.container {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 0.875rem;
  background-color: #718096;
  border: 2px solid #cbd5e0;
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  margin-bottom: 0.5rem;
  user-select: none;
}

.list {
  max-height: 70px;
  overflow-y: auto;
  padding: 0.5rem;
  position: relative;
  top: 3.5rem;
  left: 1.5rem;
  min-width: 280px;
  max-height: 250px;
  left: 6rem;
  background-color: #39414e;
  border-radius: 8px;
  color: #fff;
}

.user {
  padding: 0.5rem;
}

.user:hover {
  background-color: #4a5568;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .user {
    padding: 0.75rem;
  }
}
