.input-wrapper .member-name-lock {
  position: absolute;
  top: -24px;
  right: 6px;
  width: auto;
  height: 24px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  background-color: var(--member-bg-color);
  color: white;
  border: #c6ced9;
  border-radius: 4px 4px 0px 0px;
  z-index: 1;
  gap: 4px;
}

.input-wrapper .member-name-tab {
  position: relative;
}
