.descriptionWrapper {
  color: rgb(226 232 240 / 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
}

.infoLearnMore {
  text-decoration-line: underline;
  color: rgb(226 232 240 / 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.infoControls {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.infoControlCollapse {
  flex-direction: row;
  display: flex;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .infoControlCollapse {
    flex-direction: column;
  }
}

.infoControlLight {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(255 255 255 / 1);
  border-radius: 0.25rem;
  justify-content: center;
  display: flex;
  font-weight: 500;
}

.infoControlLight:hover {
  background-color: rgb(241 245 249 / 1);
}

@media (min-width: 768px) {
  .infoControlLight {
    flex-grow: 1;
  }
}

.infoControlLightIcon {
  color: rgb(255 84 22 / 1);
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.infoControlOrangeIcon {
  color: rgb(255 84 22 / 1);
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.infoControlDark {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(51 65 85 / 1);
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 500;
  width: 100%;
}

.infoControlCollapse .infoControlDark:last-child {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .infoControlCollapse .infoControlDark:last-child {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.infoControls > .infoControlDark:last-child {
  margin-top: 1rem;
}

.infoControlDark:hover {
  background-color: rgb(71 85 105 / 1);
}

@media (min-width: 768px) {
  .infoControlDark {
    flex-grow: 1;
  }
}

.infoControlDarkIconCodeBracket {
  color: rgb(203 213 225 / 1);
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.infoControlGithubLogo {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.infoControlViewControls {
  margin-left: 0.5rem;
}

.infoControlDarkIcon {
  color: rgb(203 213 225 / 1);
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.card {
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: rgb(30 41 59 / 1);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  display: flex;
}

@media (min-width: 768px) {
  .card {
    border-radius: 1rem;
  }
}

.cardTop {
  padding: 1.25rem;
  border-bottom-color: rgb(51 65 85 / 1);
  border-bottom-width: 1px;
}

@media (min-width: 768px) {
  .cardTop {
    border-bottom-width: 0px;
  }
}

.cardTopWrapper {
  color: rgb(255 255 255 / 1);
  justify-content: space-between;
  display: flex;
}

.cardTitle {
  font-weight: 600;
  font-size: inherit;
}

@media (min-width: 768px) {
  .cardTitle {
    margin-bottom: 1rem;
  }
}

.cardTitleBtn {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.cardTitleBtnIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  color: rgb(100 116 139);
}

.cardTitleBtnIconRotate {
  transform: rotate(180deg);
}

.ably {
  color: rgb(255 255 255 / 1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: auto;
}

.viewAllExamples {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  display: flex;
  margin-left: 0.5rem;
}

.viewAllExamples:hover > svg {
  transform: translateX(0.5rem);
}

.viewAllExamplesIcon {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  color: rgb(255 84 22 / 1);
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}
