.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container:last-child {
  display: none;
}

@media (min-height: 400px) {
  .container:last-child {
    display: flex;
  }
}

.inputContainer {
  position: relative;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.lock {
  position: absolute;
  top: -24px;
  right: 6px;
  width: auto;
  height: 24px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  background-color: var(--member-bg-color);
  color: white;
  border-radius: 4px 4px 0px 0px;
  z-index: 1;
  gap: 4px;
}

.textBase {
  font-size: 1rem;
  line-height: 1.5rem;
}

.input {
  padding: 0.5rem;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.input:hover,
.input:focus {
  background-color: white;
}

.activeCell {
  border: 2px solid var(--member-bg-color);
}

.regularCell {
  border: 0.25px solid rgb(198, 206, 217);
  background-color: white;
}

.regularCell:hover {
  border-color: rgb(173, 182, 194);
}

.fullAccess {
  background-color: #edf1f6;
}

.readOnly {
  background-color: rgb(226, 231, 239);
  cursor: not-allowed;
}

.readOnly:hover {
  background-color: rgb(226, 231, 239);
}
